@page "/todo"
@rendermode InteractiveServer

@inject ITodoService _service

<h3>Todo List</h3>

<ul>
    @foreach (var item in todoItems)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone" />
            <input @bind="item.Title" />
        </li>
    }
</ul>

<h3>Add new Todo</h3>

<input @bind="newTodo"/>
<button @onclick="AddTodo">Add</button>

@code {
    private List<TodoItem> todoItems = new();
    private string newTodo = "";

    protected override async Task OnInitializedAsync()
    {
        todoItems = await _service.GetTodoItemsAsync();
    }

    private async Task AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            var newTodoItem = new TodoItem { Title = newTodo };
            todoItems.Add(newTodoItem);
            await _service.AddTodoItemAsync(newTodoItem);

            newTodo = string.Empty;
        }
    }
}
