body {
    height: 100vh;
    background: linear-gradient(to right, #efe5ff, #ceebfb);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.main-layout {
    height: 100%;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 100%;
    height: 90vh;
    max-width: 400px;
    padding: 20px;
    position: relative;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.1);
    margin-inline: auto;
}

.add-input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: #90d8fd;
}

.todo-container li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.todo-container li input[type="checkbox"] {
    margin-right: 10px;
}

.todo-container li input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px;
}

.delete-button {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.delete-button img {
    width: 35px;
    height: 35px;
}

.add-button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #6637b5;
    background: #d0baef;
    font-size: 24px;
    transform: translateX(-50%) translateY(50%);
}

/*

nav-bar {
    background-color: white;
    width: 60px;
    box-shadow: 0px 4px 12px rgb(0, 0, 0, 0.1)
}



.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    padding: 10px 0;
    text-align: center;
}

.nav-bar a {
    color: #8a4af3;
    text-decoration: none;
}



.todo-container ul {
    list-style-type: none;
    padding: 0;
}









*/